@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  margin: auto;
  flex-wrap: wrap;
}

body {
  background-color: hsl(30, 20%, 96%);
  height: 100vh;
  display: grid;
  place-items: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}
.header h1 {
  font-size: 45px;
  color: hsl(0, 0%, 8%);
}
.header .nav-part {
  display: flex;
  align-items: center;
  width: 200%;
  background-color: green;
}
.header nav {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}
.header nav ul {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: hsl(0, 0%, 41%);
}
.header nav ul li {
  cursor: pointer;
}
.header nav ul li:hover {
  transition: 0.3s all ease-in-out;
  color: hsl(0, 0%, 8%);
}

.features {
  position: relative;
}
.features .arrow-down {
  display: inline-block;
  margin-left: 0.2rem;
}
.features .arrow-up {
  display: none;
  margin-left: 0.2rem;
}
.features .feature-list {
  color: hsl(0, 0%, 41%) !important;
  position: absolute;
  top: 2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  width: 10rem;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}
.features .feature-list p {
  border-radius: 10px;
}
.features .feature-list p:hover {
  transition: all 0.3s ease;
  background-color: rgb(250, 246, 236);
}
.features .feature-list img {
  display: inline-block;
  padding-right: 1rem;
}

.company {
  position: relative;
}
.company .arrow-down2 {
  display: inline-block;
  margin-left: 0.2rem;
}
.company .arrow-up2 {
  display: none;
  margin-left: 0.2rem;
}
.company .company-list {
  color: hsl(0, 0%, 41%) !important;
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 8rem;
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
}
.company .company-list p {
  border-radius: 10px;
  margin-left: 0.5rem;
}
.company .company-list p:hover {
  transition: all 0.3s ease;
  background-color: rgb(250, 246, 236);
}

.buttons {
  display: flex;
  gap: 2rem;
}
.buttons button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
}
.buttons button:hover {
  transition: color 0.3s ease-in-out;
  color: hsl(0, 0%, 8%);
}
.buttons .register {
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 15px;
  padding: 0.8rem;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}
.buttons .register:hover {
  transition: border 0.3s ease-in-out;
  border: 2px solid hsl(0, 0%, 8%);
}

.open-menu, .close-menu {
  display: none;
}

.main {
  display: grid;
  margin-left: 13rem;
  grid-template-columns: 25% 25% 40%;
  grid-template-rows: auto auto 8%;
  height: auto;
  margin-top: 4rem;
}
.main .image-mobile {
  display: none;
}

.text-content {
  grid-row: 1;
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 5rem;
  padding-right: 6rem;
}
.text-content h2 {
  color: hsl(0, 0%, 8%);
  font-size: 70px;
}
.text-content p {
  margin-top: 3rem;
  color: hsl(0, 0%, 41%);
}
.text-content button {
  cursor: pointer;
  margin-top: 3rem;
  border: none;
  background-color: hsl(0, 0%, 8%);
  color: hsl(30, 20%, 96%);
  font-weight: 700;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
}
.text-content button:hover {
  transition: all 0.3s ease;
  background-color: transparent;
  color: hsl(0, 0%, 8%);
  border: 1.5px solid hsl(0, 0%, 8%);
}

.image-content {
  grid-row: 1/span 3;
  grid-column: 3;
  width: 100%;
  height: 100%;
}

.patrocinadores {
  grid-row: 3;
  grid-column: 1/span 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.image {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  html {
    overflow: auto;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;
  }
  .header {
    padding: 0;
    margin: 0;
    align-items: start;
    background-color: black;
  }
  nav ul li {
    display: none;
  }
  .open-menu {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 2rem;
  }
  .close-menu {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    margin-right: 2rem;
    z-index: 20;
  }
  .buttons {
    display: none;
    position: static;
    flex-direction: column;
  }
  .buttons button {
    width: 9rem;
  }
  .main {
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    background-color: red;
  }
  .image-content {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    background-color: green;
    padding: 0;
  }
  .text-content {
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding: 0;
    background-color: blue;
  }
  .text-content h2 {
    font-size: 35px;
  }
  .patrocinadores {
    grid-row: 3;
    grid-column: 1/span 2;
    margin-top: 2rem;
    gap: 1rem;
  }
  .image-mobile {
    display: block !important;
    height: 100%;
    width: 100%;
  }
  .image {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */