@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  margin: auto;
  flex-wrap: wrap;
}

body {
  background-color: hsl(30, 20%, 96%);
  height: 100vh;
  display: grid;
  place-items: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
  padding-left: 8rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 3rem;
}
nav ul li {
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}
nav ul li:hover {
  transition: 0.3s all ease-in-out;
  color: hsl(0, 0%, 8%);
}

h1 {
  font-size: 45px;
  color: hsl(0, 0%, 8%);
  margin-right: 1rem;
}

.features {
  position: relative;
}
.features .arrow-down {
  display: none;
  margin-left: 0.2rem;
}
.features .arrow-up {
  display: inline-block;
  margin-left: 0.2rem;
}

.feature-list {
  color: hsl(0, 0%, 41%) !important;
  position: absolute;
  top: 2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  width: 10rem;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}
.feature-list p {
  border-radius: 10px;
}
.feature-list p:hover {
  transition: all 0.3s ease;
  background-color: rgb(250, 246, 236);
}
.feature-list img {
  display: inline-block;
  padding-right: 1rem;
}

.company {
  position: relative;
}
.company .arrow-down2 {
  display: none;
  margin-left: 0.2rem;
}
.company .arrow-up2 {
  display: inline-block;
  margin-left: 0.2rem;
}
.company .company-list {
  color: hsl(0, 0%, 41%) !important;
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 8rem;
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
}
.company .company-list p {
  border-radius: 10px;
  margin-left: 0.5rem;
}
.company .company-list p:hover {
  transition: all 0.3s ease;
  background-color: rgb(250, 246, 236);
}

.buttons {
  position: relative;
  left: 20rem;
  display: flex;
  gap: 2rem;
}
.buttons button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
}
.buttons button:hover {
  transition: color 0.3s ease-in-out;
  color: hsl(0, 0%, 8%);
}
.buttons .register {
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 15px;
  padding: 0.8rem;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}
.buttons .register:hover {
  transition: border 0.3s ease-in-out;
  border: 2px solid hsl(0, 0%, 8%);
}

.open-menu, .close-menu {
  display: none;
}

.main {
  display: grid;
  place-content: center;
  grid-template-columns: 15% 15% 30%;
  grid-template-rows: auto 0 auto;
  width: 100%;
  margin-top: 4rem;
}
.main .image-mobile {
  display: none;
}

.text-content {
  grid-row: 1;
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text-content h2 {
  color: hsl(0, 0%, 8%);
  font-size: 60px;
  inline-size: 80%;
}
.text-content p {
  margin-top: 3rem;
  color: hsl(0, 0%, 41%);
}
.text-content button {
  cursor: pointer;
  margin-top: 3rem;
  border: 1.5px solid hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 8%);
  color: hsl(30, 20%, 96%);
  font-weight: 700;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
}
.text-content button:hover {
  transition: all 0.3s ease;
  background-color: transparent;
  color: hsl(0, 0%, 8%);
}

.image-content {
  grid-row: 1/span 3;
  grid-column: 3;
  height: 100%;
  margin-left: 2rem;
}

.patrocinadores {
  grid-row: 3;
  grid-column: 1/span 2;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.patrocinadores img {
  position: relative;
  top: 4rem;
}

.image {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  html {
    overflow: auto;
  }
  body {
    display: flex;
    justify-content: flex-start;
  }
  nav {
    padding-left: 1rem;
    justify-content: flex-start;
  }
  #ul {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    padding-top: 5rem;
    padding-left: 1rem;
    box-shadow: -250px 0px 0px 200px rgba(0, 0, 0, 0.295);
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #ul .buttons {
    position: static;
    margin-top: 2rem;
    justify-content: center;
    flex-direction: column;
    z-index: 22;
  }
  #ul .buttons button {
    width: 14rem;
  }
  #ul.navbar-toggle {
    transform: scale(1);
    opacity: 1;
  }
  .open-menu {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 0;
    margin-right: 2rem;
  }
  .open-menu.open-toggle {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(180deg);
  }
  .close-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 2.8rem;
    right: 0;
    margin-right: 2rem;
  }
  .close-menu.close-toggle {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(180deg);
  }
  .feature-list {
    display: none;
    position: static;
    margin-top: 1rem;
  }
  .company-list {
    display: none;
    position: static !important;
    margin-top: 1rem;
  }
  .main {
    margin: 0;
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
  }
  .image-content {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }
  .text-content {
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding: 0;
  }
  .text-content h2 {
    font-size: 35px;
  }
  .patrocinadores {
    position: static;
    grid-row: 3;
    grid-column: 1;
    margin-top: 2rem;
    justify-content: space-evenly;
  }
  .image-mobile {
    display: block !important;
    height: 100%;
    width: 100%;
  }
  .image {
    display: none;
  }
  footer {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1400px) {
  html {
    overflow-x: auto;
  }
  nav {
    justify-content: space-between;
    width: 100%;
  }
  ul {
    width: 100vh;
    margin: 0;
    margin-right: 7rem;
  }
  .buttons {
    position: static;
    margin-left: 10rem;
  }
  .main {
    width: 100vh;
    height: auto;
    grid-template-columns: auto auto 50%;
    grid-template-rows: auto auto auto;
  }
  .patrocinadores img {
    position: static;
  }
}/*# sourceMappingURL=style.css.map */