@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
@import 'var.scss';
//Reset CSS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    margin: auto;
    flex-wrap: wrap;
}

//Styling 

body {
    background-color: $AlmostWhite;
    height: 100vh;
    display: grid;
    place-items: center;
}

    //header

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
    
    
        ul {
            position: relative;
            right: 18rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-left: 3rem;
            
            li {
                color: $MediumGray;
                cursor: pointer;
                &:hover {
                    transition: 0.3s all ease-in-out;
                    color: $AlmostBlack;
                }
            }
            
        }
    }

    h1 {
       font-size: 45px;
       color: $AlmostBlack;
       margin-right: 1rem;

    }



.features {
    position: relative;

    .arrow-down {
        display: none;
        margin-left: .2rem;
    }

    .arrow-up {
        
        display: inline-block;
        margin-left: .2rem;
    }
    
    

}

.feature-list {
    color: $MediumGray !important;
    position: absolute;
    top: 2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
    width: 10rem;
    border-radius: 15px;
    cursor: pointer;
    display: none;
     p {
        border-radius: 10px;

        &:hover {
            transition: all .3s ease ;
            background-color: rgb(250, 246, 236);
        }
     }
     
    img {
        display: inline-block;
        padding-right: 1rem;
    }
   
}

.company {
        position: relative;
    .arrow-down2 {
        display: none;
        margin-left: .2rem;
    }

    .arrow-up2 {
        display: inline-block;
        margin-left: .2rem;
    }
    
    .company-list {
        color: $MediumGray !important;
        position: absolute;
        top: 2rem;
        left: 1rem;
        width: 8rem;
        display: none;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
        gap: 1rem;
        border-radius: 10px;

        p{
            border-radius: 10px;
            margin-left: .5rem;

            &:hover {
                transition: all .3s ease ;
                background-color: rgb(250, 246, 236);
            }
            
        }

    }
}

.buttons {
    position: relative;
    left: 20rem;
    display: flex;
    gap: 2rem;
    
    button {
        border: none; 
        background-color: transparent;
        font-weight: 700;
        cursor: pointer;
        color: $MediumGray;
        &:hover{
            transition: color 0.3s ease-in-out;
            color: $AlmostBlack;
        }
    }
    .register {
        border: 2px solid $MediumGray;
        border-radius: 15px;
        padding: .8rem;
        padding-right: 1.3rem;
        padding-left: 1.3rem;
        &:hover {
            transition: border 0.3s ease-in-out;
            border: 2px solid $AlmostBlack;
        }
    }
}

.open-menu, .close-menu {
    display: none;
}

    //Main

    .main {
        display: grid;
        place-content: center;
        grid-template-columns: 15% 15% 25%;
        grid-template-rows: auto 0 auto;
        width: 100%;
        margin-top: 4rem;
        .image-mobile {
            display: none;
        }
    }

    .text-content {
      grid-row: 1 ;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      justify-content: center;
     
      h2 {
        color: $AlmostBlack;
        font-size: 60px;
        inline-size: 80%;
 
      }

      p {
        margin-top: 3rem;
        color: $MediumGray;
      }

      button {
        cursor: pointer;
        margin-top: 3rem;
        border: none;
        background-color: $AlmostBlack;
        color: $AlmostWhite;
        font-weight: 700;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 15px;

        &:hover {
            transition: all 0.3s ease;
            background-color: transparent;
            color: $AlmostBlack;
            border: 1.5px solid $AlmostBlack;
        }
      }

    }

    .image-content {
        grid-row: 1 / span 3;
        grid-column: 3;
        height: 100%;
        margin-left: 2rem;
    }

    .patrocinadores {
        grid-row: 3;
        grid-column: 1 / span 2;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
            position: relative;
            top: 4rem;
        }
    }


.image {
    height: 100%;
    width: 100%;
}


@media (max-width: 600px) {
    html {
        overflow: auto;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    nav { 
        position: relative;
        justify-content: space-between;
        
            ul {
                background-color: white;
                position: fixed;
                top: 0;
                right: 0;
                width: 50vw;
                height: 100vh;
                flex-direction: column;
                z-index: 1;
                align-items: flex-start;
                padding-top: 5rem;
                padding-left: 1rem;
                box-shadow: -250px 0px 0px 200px rgba(0, 0, 0, 0.295);

                .buttons {
                    position: static;
                    margin-top: 2rem;
                    justify-content: center;
                    flex-direction: column;
                    z-index: 22;
                    button {
                        width: 14rem;
                    }
                }
                
            
        }
        
    }

    .open-menu {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 0;
        margin-right: 2rem;
        background-color: rgba(128, 128, 128, 0.349);
        border-radius: 20px;
        text-align: center;
        width: 3rem;
        height: 3rem;
        img {
            position: relative;
            top: .8rem;
        }
    }

    .close-menu {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 2.8rem;
        right: 0;
        margin-right: 2rem;
       
    }

    .feature-list {
        display: none ;
        position:  static ;
        margin-top: 1rem;
    }

    .company-list {
        display: none ;
        position: static !important;
        margin-top: 1rem;
    }

    .main {
        margin: 0;
        padding: 0;
        grid-template-columns: auto;
        grid-template-rows: auto;
        align-items: center;
        
    }

    .image-content {
        grid-row: 1;
        grid-column: 1 ;
        width: 100%;
        margin: 0;
        margin-top: 2rem;
    }

    .text-content {
        grid-row: 2;
        grid-column: 1;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        padding: 0;

        h2 {
            font-size: 35px;
        }
    }

    .patrocinadores {
        position: static;
        grid-row: 3;
        grid-column: 1;
        margin-top: 2rem;
        justify-content: space-evenly;
    }

    .image-mobile {
        display: block !important;
        height: 100%;
        width: 100%;
        
    }

    .image {
        display: none;
    }
}